__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.env
.venv/
venv/
.env.*
.git/
.gitignore
.DS_Store
.idea/
.vscode/
*.egg-info/
*.egg
build/
dist/
*.bak
*.swp
*.tmp
output/
/output/
run_app.bat
run_app.sh